@media only screen and (max-width: 600px) {

  .Cart_Total {
    color: seagreen;
  }
  
  .Contact {
    background-image: url(/contactus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
  }

  .Contacts > div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .Footer {
    align-items: center;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .Footer > .Legal, .Contacts, .Socials {
    text-align: center;
  }

  .Header {
    color: seagreen;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .Header_Icon {
    height: 50px;
  }

  .Health {
    padding: 30px 20px;
  }

  .Health > h1 {
    color: seagreen;
  }

  .Health_Item {
    border: 1px solid seagreen;
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
  }

  .Health_Item > div {
    background-color: grey;
    border-radius: 50%;
    margin-right: 30px;
    padding: 20px;
  }

  .Icon {
    height: 70px;
  }

  .Logo {
    display: flex;
    justify-content: space-between;
  }

  .Main_Content {
    width: 100%;
  }

  .Marula {
    background-image: url(/marula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 50px;
    text-align: center;
  }

  .Menu {
    display: none;
  }

  .Menu, a {
    color: black;
    padding: 5px;
    text-decoration: none;
  }

  .Menu-Visible {
    background-color: seagreen;
    display: flex;
    flex-direction: column;
  }

  .Mobile_Menu {
    padding: 40px 0;
  }

  .Product {
    border: 1px solid seagreen;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    min-width: 300px;
  }

  .Product_Card_Btn {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }

  .Product_Card_Icon {
    height: 30px;
  }

  .Product_Card_Input {
    border-radius: 5px;
    width: 50px;
  }

  .Product_Details {
    display: flex;
    justify-content: space-between;
  }

  .Product_Items {
    display: flex;
    overflow-x: scroll;
  }

  .Products {
    padding: 30px 20px;
  }

  .Recipe {
    padding: 40px 20px;
  }

  .Recipe > div {
    align-items: center;
    margin-top: 30px;
    text-align: center;
  }

  .Shopping_Cart {
    margin-left: 10px;
  }

  .Sustainable {
    background-image: url(/woman-farmer_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 50px;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 20px;
  }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  .Contact {
    background-image: url(/contactus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
  }

  .Contacts > div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .Footer {
    align-items: center;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .Footer > .Legal, .Contacts, .Socials {
    text-align: center;
  }

  .Marula {
    background-image: url(/marula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 50px;
    text-align: center;
  }

  .Header {
    color: seagreen;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .Health {
    padding: 30px 20px;
  }

  .Health > h1 {
    color: seagreen;
  }

  .Health_Item {
    border: 1px solid seagreen;
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
  }

  .Health_Item > div {
    background-color: grey;
    border-radius: 50%;
    margin-right: 30px;
    padding: 20px;
  }

  .Icon {
    height: 70px;
  }

  .Logo {
    display: flex;
    justify-content: space-between;
  }

  .Main_Content {
    width: 100%;
  }

  .Menu {
    display: none;
  }

  .Menu, a {
    color: black;
    padding: 5px;
    text-decoration: none;
  }

  .Menu-Visible {
    background-color: seagreen;
    display: flex;
    flex-direction: column;
  }

  .Mobile_Menu {
    padding: 40px 0;
  }

  .Product {
    border: 1px solid seagreen;
    border-radius: 5px;
    margin: 20px;
    min-width: 300px;
    text-align: center;
  }

  .Product_Card_Btn {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }

  .Product_Details {
    display: flex;
    justify-content: space-between;
  }

  .Product_List {
    display: flex;
    overflow-x: scroll;
  }

  .Products {
    padding: 30px 20px;
  }

  .Recipe {
    padding: 40px 20px;
  }

  .Recipe > div {
    align-items: center;
    margin-top: 30px;
    text-align: center;
  }

  .Sustainable {
    background-image: url(/woman-farmer_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 50px;
  }

  h1 {
    font-size: 50px;
  }
    
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

  .Contact {
    background-image: url(/contactus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 20px;
  }

  .Footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
  }

  .Footer > .Legal, .Contacts, .Socials {
    padding: 10px;
    width: 30%;
  }

  .Marula {
    background-image: url(/marula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    width: 100%;
  }

  .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
  }

  .Health {
    padding: 30px;
  }

  .Health > h1 {
    color: seagreen;
  }

  .Health_Item {
    border: 1px solid seagreen;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 20px;
  }

  .Health_Item > div {
    background-color: grey;
    border-radius: 50%;
    padding: 20px;
  }

  .Icon {
    height: 80px;
  }

  .Logo {
    padding: 10px;
  }

  .Main_Content {
    width: 100%;
  }

  .Menu {
    display: flex;
    flex-direction: row;
  }

  .Menu, a {
    color: black;
    padding: 5px;
    text-decoration: none;
  }

  .Mobile-Menu {
    display: none;
  }

  .Product {
    border: 1px solid seagreen;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
  }

  .Product_Card_Btn {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }

  .Product_Details {
    display: flex;
    justify-content: space-between;
  }

  .Product_Items {
    display: flex;
    flex-direction: row;
  }

  .Products {
    padding: 40px 10px;
  }

  .Recipe {
    padding: 40px 10px;
  }

  .Recipe > div {
    align-items: center;
    margin-top: 30px;
    text-align: center;
  }

  .Sustainable {
    background-image: url(/woman-farmer_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
  }

}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
  
  .Contact {
    background-image: url(/contactus.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 20px;
  }

  .Footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
  }

  .Footer > .Legal, .Contacts, .Socials {
    padding: 20px;
    width: 30%;
  }
  
  .Harvest {
    background-image: url(/marula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
  }
  
  .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
  }

  .Health {
    padding: 30px 10px;
  }
  
  .Health_Item {
    display: flex;
  }
  
  .Health_Item, img {
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }

  .Icon {
    height: 50px;
  }
  
  .Logo {
    padding: 10px;
  }
  
  .Main_Content {
    width: 100%;
  }

  .Menu {
    display: flex;
    flex-direction: row;
  }

  .Menu, a {
    color: black;
    padding: 5px;
    text-decoration: none;
  }
  
  .Mobile-Menu {
    display: none;
  }
  
  .Product {
    border: 1px solid seagreen;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .Recipe {
    padding: 40px 10px;
  }
  
  .Sustainable {
    background-image: url(/woman-farmer_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 40px 20px;
  }
}
